*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid magenta; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Phone design */
.phone {
  width: 15.437rem;
  height: 31.625rem;
  /* border: 1px solid magenta; */
  padding: 0.5em;
  border-radius: 35px;
  box-shadow: 0 3px 25px 4 px #dddddd;
}

.screen {
  width: 14.25rem;
  height: 30.25rem;
  /* border: 1px solid green; */
  border-radius: 25px;
  overflow: hidden;

  background: hsl(270, 20%, 96%);
}

.header {
  height: 4.125rem;
  width: 14.25rem;
  background: linear-gradient(to right, #8838ff, #e942ff);
  border-radius: 5px;
}

.header .notch-holder {
  display: flex;
  justify-content: center;
}

.header .notch {
  height: 1.187rem;
  width: 8.125rem;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

.header .details {
  /* border: 1px solid orange; */
  margin: 0.625em;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header .details .backBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .details .backBtn img {
  width: 5px;
}

.details .contents {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 0.5em;
}

.details .contents .avatar {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #fff;
  border-radius: 50%;
}

.details .contents .avatar-details {
  color: #fff;
  margin-left: 0.5em;
}

.details .contents .avatar-details p {
  font-size: 0.625rem;
  margin-bottom: 0.2em;
}

.details .contents .avatar-details p:last-child {
  color: hsl(276, 100%, 81%);
  font-size: 0.4rem;
  opacity: 0.7;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* radio button */
.options span {
  display: block;
  width: 2px;
  height: 2px;
  margin-top: 0.005rem;
  margin-bottom: 0.12rem;

  background: #e570ff;
  border-radius: 3px;
}

/* Main App Contents */
.main-page {
  height: 22.812rem;
  /* border: 1px solid green; */
  padding: 0.625em;

  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.bubble {
  /* border: 1px solid magenta; */
  margin-bottom: 0.625em;

  box-shadow: 0 2px 2.625px 0.325px #ecedee;
}

.bubble p {
  font-size: 0.45rem;
}

.bubble .icon {
  height: 15px;
  width: 15px;
  border: 1px solid #f5f3f7;
  border-radius: 50%;
  opacity: 0.2;
}

.text-bubble {
  padding: 1.2em;
  max-width: 120px;
}

.price-bubble {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #e942ff, #8838ff);
  padding: 0.5em;
  width: 10em;
}

.contact {
  color: hsl(276, 55%, 52%);
  background-color: #ece5f5;
  border-radius: 10px 10px 10px 0;
}

.contact-message {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.price-bubble p {
  margin-left: 10px;
  color: #f5f3f7;
  flex-grow: 1;
}

.price-bubble p.price {
  font-size: 0.75rem;
  font-weight: 600;
}

.me {
  color: hsl(271, 15%, 43%);
  border-radius: 10px 10px 0 10px;
}

.me-bg {
  background-color: #fff;
}

.image-bubble {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
}

.image {
  width: 2.5em;
  border-radius: 10px;
  margin: 0 5px;
  box-shadow: 0 2px 2.625px 0.325px #ecedee;
}

.image:last-child {
  margin-right: 0;
}

/* Textfield styles */
.textfield {
  border-radius: 35px;
  /* border: 1px solid magenta; */
  margin: 0.5em 0.625em 0 0.625em;
  background-color: #fff;

  display: flex;
  align-items: center;
}

.textfield p {
  padding: 1em 2em;
  font-size: 0.5rem;
  color: #bbbbbb;
  flex-grow: 1;
}

.textfield a {
  display: inline-block;
  background-color: #3e2753;
  display: flex;
  justify-content: center;

  padding: 0.5em;
  margin: 0.325em;
  border-radius: 50%;
}

.textfield a img {
  width: 8px;
  height: 8px;
}

/* description styles */

.description {
  text-align: center;
  padding: 0 2.062em;
}

.description h1 {
  margin: 1.2em;
  font-size: 1.2rem;
  color: #3e2753;
}

.description p {
  color: #a39daa;
  font-size: 0.725rem;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}
