*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
}

body {
  font-family: 'Rubik', sans-serif;
}

/* Phone design */
.phone {
  width: 15.437rem;
  height: 31.625rem;
  border: 1px solid magenta;
  padding: 0.5em;
  border-radius: 25px;
}

.screen {
  width: 14.25rem;
  height: 30.25rem;
  border: 1px solid green;
  border-radius: 25px;
  overflow: hidden;
}

.header {
  height: 4.125rem;
  width: 14.25rem;
  background-color: hsl(271, 36%, 24%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.header .notch {
  height: 1.187rem;
  width: 8.125rem;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
